workflows/n8n-import-ai-brain.json
{
  "name": "Voice Agent — AI Brain",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-brain",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ai-001",
      "name": "AI Brain Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "session_id", "value": "={{$json.body.session_id || $json.session_id || ''}}" },
            { "name": "business_id", "value": "={{$json.body.business_id || $json.business_id || 'default'}}" },
            { "name": "caller_number", "value": "={{$json.body.caller_number || $json.caller_number || ''}}" },
            { "name": "caller_transcript", "value": "={{$json.body.caller_transcript || $json.caller_transcript || ''}}" },
            { "name": "detected_language", "value": "={{$json.body.detected_language || $json.detected_language || 'en'}}" },
            { "name": "language_name", "value": "={{$json.body.language_name || $json.language_name || 'English'}}" },
            { "name": "caller_name", "value": "={{$json.body.caller_name || $json.caller_name || ''}}" },
            { "name": "business_name", "value": "" },
            { "name": "business_type", "value": "" },
            { "name": "timings", "value": "" },
            { "name": "menu_highlights", "value": "" },
            { "name": "current_offers", "value": "" },
            { "name": "vip_options", "value": "" }
          ],
          "number": [],
          "boolean": []
        },
        "options": {}
      },
      "id": "ai-002",
      "name": "Extract Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "business_name", "value": "The Blue Lagoon" },
            { "name": "business_type", "value": "Restaurant & Lounge" },
            { "name": "timings", "value": "Mon-Sun: 12 PM - 1 AM" },
            { "name": "menu_highlights", "value": "Biryani, Grilled Seafood, Cocktails, Mocktails, Pan-Asian, North Indian" },
            { "name": "current_offers", "value": "20% off group bookings (5+), Ladies night Wednesday, Happy hours 5-7 PM" },
            { "name": "vip_options", "value": "VIP booth Rs.2000 extra (private area, bottle service), Rooftop dining Rs.1500 extra" },
            { "name": "address", "value": "123 MG Road, Bangalore 560001" },
            { "name": "escalation_number", "value": "+919876543210" }
          ],
          "number": [],
          "boolean": []
        },
        "options": {}
      },
      "id": "ai-003",
      "name": "Load Business Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══ CONVERSATION MEMORY ═══\n// In production: load from Redis by session_id\n// For now: stateless per turn (each turn is independent)\nconst s = $input.first().json;\n\n// Build conversation context from available data\nconst memory = {\n  session_id: s.session_id,\n  business_id: s.business_id,\n  turns: [],\n  collected_data: {},\n  last_intent: 'unknown',\n  last_emotion: 'neutral'\n};\n\n// Add current turn\nmemory.turns.push({\n  role: 'user',\n  content: s.caller_transcript,\n  language: s.detected_language\n});\n\nreturn [{ json: { ...s, memory: memory } }];\n"
      },
      "id": "ai-004",
      "name": "Load Conversation Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══ EMOTION DETECTION ═══\nconst s = $input.first().json;\nconst text = s.caller_transcript || '';\nconst low = text.toLowerCase();\n\nconst anger = ['worst','terrible','disgusting','pathetic','waste','cheat','fraud','angry','disappointed','unacceptable','ridiculous','horrible','damn','hell','useless','stupid'];\nconst urgency = ['urgent','immediately','right now','emergency','asap','hurry','quickly','fast','tonight','today only','need now'];\nconst confusion = ['confused','don\\'t understand','what do you mean','unclear','not sure','which one','huh','sorry what','come again','pardon'];\nconst happy = ['great','awesome','perfect','wonderful','amazing','excellent','fantastic','love it','thank you so much','brilliant'];\nconst escalate = ['manager','supervisor','human','real person','transfer','speak to someone','complaint','higher authority','your boss'];\n\nlet emotion = 'neutral';\nlet needsEsc = false;\n\nif (escalate.some(k => low.includes(k))) { needsEsc = true; emotion = 'wants_escalation'; }\nelse if (anger.some(k => low.includes(k))) { emotion = 'angry'; }\nelse if (urgency.some(k => low.includes(k))) { emotion = 'urgent'; }\nelse if (confusion.some(k => low.includes(k))) { emotion = 'confused'; }\nelse if (happy.some(k => low.includes(k))) { emotion = 'happy'; }\n\nreturn [{ json: { ...s, emotion: emotion, needs_escalation: needsEsc } }];\n"
      },
      "id": "ai-005",
      "name": "Detect Emotion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════\n// AI PROMPT BUILDER\n// ═══════════════════════════════════════════\nconst s = $input.first().json;\n\nconst systemPrompt = `You are Priya, a warm, professional customer care executive at ${s.business_name || 'the venue'}.\n\nIDENTITY: You are HUMAN. NEVER reveal you are AI. Your name is Priya.\n\nLANGUAGE: Respond in ${s.language_name || 'English'}. If caller code-switches (Tanglish etc.), mirror their style. Use informal spoken style.\n\nCURRENT EMOTION: ${s.emotion || 'neutral'}\n- angry: Be calm, empathetic. \"I'm sorry about that, let me fix this.\"\n- urgent: Be quick, efficient. Skip pleasantries.\n- confused: Be patient, step-by-step.\n- happy: Match energy. Good for upselling.\n- neutral: Warm, professional.\n\nRULES:\n- Keep responses 1-3 sentences. Ask ONE question at a time.\n- Use fillers naturally: \"Sure thing\", \"Got it\", \"Let me check\"\n- Use caller's name when known: ${s.caller_name || 'not yet known'}\n- NEVER use bullet points or lists.\n\nBUSINESS INFO:\n- Name: ${s.business_name || 'N/A'}\n- Timings: ${s.timings || 'N/A'}\n- Menu: ${s.menu_highlights || 'N/A'}\n- Offers: ${s.current_offers || 'N/A'}\n- VIP: ${s.vip_options || 'N/A'}\n- Address: ${s.address || 'N/A'}\n\nINTENT HANDLING:\n1. BOOKING: Collect date, time, guests, name. ONE per turn. Recap before confirming. Upsell VIP/events once.\n2. ENQUIRY: Answer from business info. If unsure: \"Let me check.\"\n3. COMPLAINT: Listen, empathize, apologize, resolve. Escalate if needed.\n4. GENERAL: Be friendly, brief. Steer to business.\n\nDATA EXTRACTION (CRITICAL):\nAfter EVERY response, on a new line, output:\n<data>{\"intent\":\"booking|enquiry|complaint|general\",\"date\":\"YYYY-MM-DD or null\",\"time\":\"HH:MM or null\",\"guests\":null,\"name\":null,\"special_requests\":null,\"action_type\":\"continue|transfer|end_call|confirm_booking\",\"action_number\":null}</data>`;\n\nconst messages = [{ role: 'user', content: s.caller_transcript }];\n\nreturn [{ json: { ...s, system_prompt: systemPrompt, ai_messages: messages } }];\n"
      },
      "id": "ai-006",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 350,\n  \"system\": {{JSON.stringify($json.system_prompt)}},\n  \"messages\": {{JSON.stringify($json.ai_messages)}}\n}",
        "options": { "timeout": 12000 }
      },
      "id": "ai-007",
      "name": "Claude API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══ PARSE AI RESPONSE ═══\nconst input = $input.first().json;\nlet aiText = '';\ntry { aiText = input.content[0].text || ''; }\ncatch(e) { aiText = 'Sorry, could you repeat that?'; }\n\n// Extract <data> block\nlet extracted = { intent: 'unknown', action_type: 'continue' };\nconst m = aiText.match(/<data>([\\s\\S]*?)<\\/data>/);\nif (m) { try { extracted = JSON.parse(m[1]); } catch(e) {} }\n\n// Clean spoken text\nconst spoken = aiText.replace(/<data>[\\s\\S]*?<\\/data>/g, '').trim();\n\n// Build action object\nconst action = { type: extracted.action_type || 'continue' };\nif (action.type === 'transfer') action.number = extracted.action_number || '';\n\n// Build booking data\nconst booking = {};\nif (extracted.date) booking.date = extracted.date;\nif (extracted.time) booking.time = extracted.time;\nif (extracted.guests) booking.guests = extracted.guests;\nif (extracted.name) booking.name = extracted.name;\nif (extracted.special_requests) booking.special_requests = extracted.special_requests;\n\nconst bookingComplete = extracted.intent === 'booking' &&\n  extracted.date && extracted.time && extracted.guests && extracted.name;\n\nif (bookingComplete) action.type = 'confirm_booking';\n\nreturn [{ json: {\n  reply_text: spoken,\n  intent: extracted.intent || 'unknown',\n  emotion: input.emotion || 'neutral',\n  action: action,\n  booking_data: booking,\n  booking_complete: bookingComplete || false,\n  session_id: input.session_id,\n  business_id: input.business_id,\n  caller_number: input.caller_number,\n  detected_language: input.detected_language\n}}];\n"
      },
      "id": "ai-008",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══ SAVE TO MEMORY ═══\n// In production: write to Redis\n// For now: pass through (memory is in the response)\nconst s = $input.first().json;\n\n// Log this turn for analytics\nconsole.log(`[TURN] session=${s.session_id} intent=${s.intent} emotion=${s.emotion} response=\"${s.reply_text.substring(0, 50)}...\"`);\n\nreturn [{ json: s }];\n"
      },
      "id": "ai-009",
      "name": "Save Conversation Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.booking_complete}}",
              "value2": true
            }
          ]
        }
      },
      "id": "ai-010",
      "name": "Booking Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "url": "=https://YOUR_N8N_URL/webhook/crm-action",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"action\": \"CONFIRM_BOOKING\",\n  \"business_id\": \"{{$json.business_id}}\",\n  \"session_id\": \"{{$json.session_id}}\",\n  \"caller_number\": \"{{$json.caller_number}}\",\n  \"booking_data\": {{JSON.stringify($json.booking_data)}},\n  \"detected_language\": \"{{$json.detected_language}}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "ai-011",
      "name": "Trigger CRM Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2200, 200]
    }
  ],
  "connections": {
    "AI Brain Webhook": {
      "main": [
        [
          { "node": "Extract Input Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Input Data": {
      "main": [
        [
          { "node": "Load Business Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Business Config": {
      "main": [
        [
          { "node": "Load Conversation Memory", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Conversation Memory": {
      "main": [
        [
          { "node": "Detect Emotion", "type": "main", "index": 0 }
        ]
      ]
    },
    "Detect Emotion": {
      "main": [
        [
          { "node": "Build AI Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          { "node": "Claude API Call", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude API Call": {
      "main": [
        [
          { "node": "Parse AI Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          { "node": "Save Conversation Memory", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Conversation Memory": {
      "main": [
        [
          { "node": "Booking Complete?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Booking Complete?": {
      "main": [
        [
          { "node": "Trigger CRM Booking", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Kolkata"
  },
  "tags": [
    { "name": "voice-agent", "id": "tag-1" },
    { "name": "ai-brain", "id": "tag-3" }
  ],
  "triggerCount": 1
}
